<div>
  <div><%= link_to " ", station_review_up_vote(station, review) %></div>
  <div><strong><%= post.points %></strong></div>
  <div><%= link_to " ", station_review_down_vote(station, review) %></div>
</div>
