<%= @error %>
<div>
  <% @lines.each do |line| %>
  <div>
    <div>
      <%= line.name %>
    </div>
    <% line.stations.each do |station| %>
      <div>
        <%= link_to station.name, station_path(station) %>
      </div>
    <% end %>
  </div>
  <% end %>
<div>
